#include <stdio.h>

int main() {
    int num;
    unsigned long long fact = 1LL;

    // Input number from user
    printf("Enter any number to calculate factorial: ");
    scanf("%d", &num);

    // Calculate factorial
    for (int i = 1; i <= num; i++) {
        fact *= i;
    }

    printf("Factorial of %d = %llu\n", num, fact);
    return 0;
}

